<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
所有用户信息
<table class="table table-hover table-striped">
    <thead>
    <tr>
        <th>用户ID</th>
        <th>用户名</th>
        <th>密码（加密后）</th>
        <th>状态</th>
        <th>操作</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="user:${userList}">
        <td th:text="${user.user_id}"></td>
        <td th:text="${user.user_name}"></td>
        <td th:text="${user.user_password}"></td>
        <td th:text="${user.user_flag==1?'解冻状态':'冻结状态'}"></td>
        <td>
            <a th:href="@{/lock/{id}(id=${user.user_id})}">冻结</a>||
            <a th:href="@{/unlock/{id}(id=${user.user_id})}">解冻</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>