<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.UserMapper">

    <!--<cache/>--><!--开启缓存-->
    <select id="selectAllUser" resultType="User">
        select * from t_user
    </select>

    <select id="selectAllLog" resultType="Log">
        select * from t_log
    </select>

    <update id="lock" parameterType="int">
        update t_user set user_flag = 0 where user_id = #{user_id}
    </update>

    <update id="unlock" parameterType="int">
        update t_user set user_flag = 1 where user_id = #{user_id}
    </update>

    <!--<select id="selectUserById" resultType="User" parameterType="int">
        select * from t_user where user_id = #{id}
    </select>

    <insert id="addUser" parameterType="User">
        insert into t_user (user_name, user_password) values (#{user_name}, #{user_password})
    </insert>

    <update id="updateUser" parameterType="User">
        update t_user set user_name = #{user_name}, user_password = #{user_password} where user_id = #{user_id}
    </update>

    <delete id="deleteUserById" parameterType="int">
        delete from t_user where user_id = #{user_id}
    </delete>-->

</mapper>